span.badge{
    /* color: white; */
    color: #337ab7;

    background-color: #fff;
}

p.claimtitle{
    background: #0085a1;
    color: white;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

p.claimtext{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

p.claimuser{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}